/* MyTable.css */
.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #1877f2;
    border-style: solid;
    color: #000000;
  }
  
  .GeneratedTable td,
  .GeneratedTable th {
    border-width: 2px;
    border-color: #1877f2;
    border-style: solid;
    padding: 3px;
  }
  
  .GeneratedTable thead {
    background-color: #1877f2;
  }
  