.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Auth-form {
  width: 40%;
  box-shadow: rgb(145 145 145 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: white;
}
.Auth-forms {
  width:95%;
  box-shadow: rgb(145 145 145 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: white;
  height: 90%;
}

.Auth-formss {
  width:60%;
  box-shadow: rgb(145 145 145 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content .head {
  padding: 20px;
  border-bottom: 2px solid #e6e6e6;
}
.Auth-form-content .content {
  padding: 40px 100px;
}
.Auth-form-content .continue {
  display: block;
  width: 100%;
  background-color: #2196f3;
  padding: 10px 10px;
}
.Auth-form-content p {
  color: #4a4a4a;
}
.Auth-form-content .input-group-text {
  border-top-right-radius: 0px;
  background: #fff;
  color: #bbb9b9;
  border-bottom-right-radius: 0px;
  border-color: #e6e6e6;
  border-top: 2px solid #e6e6e6;
  border-left: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}
.Auth-form-content .form-control {
  border-left: 0px;
  border-color: #e6e6e6;
  border-top: 2px solid #e6e6e6;
  border-right: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}
.Auth-form-content .form-control::placeholder {
  color: #bbb9b9;
  font-weight: 500;
}

.btn-prime {
  border: 1px solid #68bcff;
  color: #2196f3;
}

.btn-verify {
  color: #fff;
  background-color: #2196f3;
}
.btn-prime:hover {
  border: 1px solid #68bcff;
  color: #2196f3;
}

.btn-verify:hover {
  color: #fff;
  background-color: #2196f3;
}
/* For WebKit browsers (e.g. Chrome, Safari) */
.content::-webkit-scrollbar {
  width: 4px; /* width of the scrollbar */
  background: #fff;
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

.content::-webkit-scrollbar-thumb {
  background: #dddddd; /* color of the thumb */
  border-radius: 6px; /* roundness of the thumb */
}

.content::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the thumb on hover */
}

.Auth-forms .content h4 {
  color: #2196f3;
  font-size: 18px;
  /* margin-bottom: 20px; */
}

.Auth-formss .content h4 {
  color: #2196f3;
  font-size: 18px;
  /* margin-bottom: 20px; */
}

.outlined {
  border: 1px solid #ced4da; /* Change the color and thickness according to your design */
  border-radius: 4px; /* Optional: Add rounded corners */
  padding: 8px; /* Optional: Add padding for better appearance */
}

.react-tel-input .form-control {
  width: 100% !important;
  height: 40px !important;
  border: 2px solid #e6e6e6 !important;
}
/* .react-tel-input .flag-dropdown{
  border: none;
} */
.react-tel-input .selected-flag {
  border-left: 2px solid #e6e6e6 !important ;
  border-top: 2px solid #e6e6e6 !important ;
  border-bottom: 2px solid #e6e6e6 !important ;
  border-right: none !important;
  background-color: #fff !important;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007ad9; /* Change color as needed */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 10s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.opt-box {
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 5px;
  margin: 10px;
  font-weight: 500;
  border: 2px solid #68bcff;
  border-radius: 5px;
}
.calender-date{
  border-right:none;
}
 .p-inputtext{
  border-left: none!important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 2px solid #e6e6e6;
}
.p-inputtext::placeholder{
  font-weight: 600;
color: #bbb9b9;
}
.datebirth{
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {
 
  .otperror{
    font-size: 12px;
  }
  .Auth-forms {
    width: 92%;

  }
  .Auth-form {
    width: 92%;
  }
  .Auth-formss {
    width: 92%;
    margin-top: 100px!important;

  }
  .Auth-form-content .content {
    padding: 40px 20px;
  }
  .opt-box {
    width: 30px;
    text-align: center;
    height: 30px;
    padding: 5px;
    margin: 10px;
    font-weight: 500;
    border: 2px solid #68bcff;
    border-radius: 5px;
  }
  /* .in-father{
    flex-direction: column;
  } */
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
 
  .Auth-forms {
    width: 92%;
  }
  .Auth-form {
    width: 92%;
  }
  .Auth-form-content .content {
    padding: 40px 20px;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}


.checkmark-circle {
  width: var(--circle-size);
  height: var(--circle-size);
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.checkmark-circle .background {
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  background: #2eb150;
  position: absolute;
}

.checkmark-circle .checkmark.draw:after {
  margin: 10px;
  animation-delay: 100ms;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(calc(180deg + -45deg));
  animation-fill-mode: forwards;
}

.checkmark-circle .checkmark {
  border-radius: 5px;
}

.checkmark-circle .checkmark:after {
  opacity: 1;
  height: var(--check-height);
  width: var(--check-width);
  transform-origin: left top;
  border-right: var(--check-thickness) solid white;
  border-top: var(--check-thickness) solid white;
  border-radius: 2.5px !important;
  content: "";
  left: var(--check-left);
  top: var(--check-height);
  position: absolute;
}

/* Keyframes */
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: var(--check-width);
    opacity: 1;
  }
  40% {
    height: var(--check-height);
    width: var(--check-width);
    opacity: 1;
  }
  100% {
    height: var(--check-height);
    width: var(--check-width);
    opacity: 1;
  }
}
:root {
  --circle-size: 150px;
  --check-height: calc(var(--circle-size) / 2);
  --check-width: calc(var(--check-height) / 2);
  --check-left: calc(var(--circle-size) / 6);
  --check-thickness: calc(var(--circle-size) / 10);
}


.react-international-phone-input{
  border-top: 2px solid red!important;
  border-right: 2px solid red!important;
  border-bottom: 2px solid red!important;
  border-left:none!important;
  width: 100%;
}
/* .phone-input input{
  border: 2px solid red !important;
} */
.react-international-phone-country-selector-button{
  border-top: 2px solid red!important;
  border-left: 2px solid red!important;
  border-bottom: 2px solid red!important;
  border-right:none!important;
}

/* .App {
  font-family: sans-serif;
  text-align: center;
} */


.p-datepicker-trigger{
  background: #2196f3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}